In [1]:
#installed with pip
from pandas import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
from email.message import EmailMessage

# built-in libraries
import datetime
import re
import sqlite3
import urllib
import csv
import smtplib
import os

In [2]:
insp1 = pd.read_csv("ftp://dbprftp.state.fl.us/pub/llweb/1fdinspi.csv", usecols=[2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 17, 18, 80, 81], encoding="ISO-8859-1")

In [3]:
insp1.columns = ["county", "licnum", "sitename", "streetaddy", "cityaddy", "zip",
                "inspnum", "insptype", "inspdispos", "inspdate", "totalvio", "highvio", "licid", "visitid"]

In [4]:
insp2 = pd.read_csv("ftp://dbprftp.state.fl.us/pub/llweb/2fdinspi.csv", usecols=[2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 17, 18, 80, 81], encoding="ISO-8859-1")
insp2.columns = ["county", "licnum", "sitename", "streetaddy", "cityaddy", "zip",
                "inspnum", "insptype", "inspdispos", "inspdate", "totalvio", "highvio", "licid", "visitid"]

In [5]:
frames = [insp1, insp2]

In [6]:
result = pd.concat([insp1, insp2], axis=0, join='outer', ignore_index=False)

In [7]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10730 entries, 0 to 5923
Data columns (total 14 columns):
county        10730 non-null object
licnum        10730 non-null int64
sitename      10727 non-null object
streetaddy    10730 non-null object
cityaddy      10730 non-null object
zip           10730 non-null object
inspnum       10730 non-null int64
insptype      10730 non-null object
inspdispos    10730 non-null object
inspdate      10730 non-null object
totalvio      10730 non-null int64
highvio       10730 non-null int64
licid         10730 non-null int64
visitid       10730 non-null int64
dtypes: int64(6), object(8)
memory usage: 1.2+ MB

In [8]:
result.head()

,county,licnum,sitename,streetaddy,cityaddy,zip,inspnum,insptype,inspdispos,inspdate,totalvio,highvio,licid,visitid
0,Dade,2300076,THE ASIAN KITCHEN,5796 BIRD RD,MIAMI,33155,2809650,Routine - Food,Inspection Completed - No Further Action,08/27/2018,10,1,5858687,6626178
1,Dade,2300091,IL ITALIANO,1120 WEST FLAGLER ST,MIAMI,33130,2820207,Routine - Food,Inspection Completed - No Further Action,07/20/2018,10,1,6587551,6643128
2,Dade,2300098,MI RANCHITO SALVADORENO RESTAURANTE LLC,1947 W FLAGLER ST,MIAMI,33135,2806913,Routine - Food,Call Back - Complied,10/01/2018,0,0,6269873,6690356
3,Dade,2300098,MI RANCHITO SALVADORENO RESTAURANTE LLC,1947 W FLAGLER ST,MIAMI,33135,2806913,Routine - Food,Warning Issued,07/30/2018,15,1,6269873,6621897
4,Dade,2300161,JIMMY'S EAST SIDE DINER,7201 BISCAYNE BLVD,MIAMI,331385118,2778659,Routine - Food,Call Back - Complied,09/17/2018,9,2,2153681,6725917